<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <a href="/">Privacy</a>
        <hr>
        <a href="/">Terms</a>
    </div>
    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
</footer>