<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="alert alert-danger" role="alert">
            <%=message%>
        </div>
        <% body %>
    </div>
    <!-- <h5>Error!</h5> -->
</body>